<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WellRise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Welcome to WellRise</h1>
    <h3 style="text-align: center;">Your Personal Sleep Tracker</h3>
</body>
</html>
